:root {
    --background-color: #000000;
    --header-footer: #1B1B1B;
    --text-color: #F2F3F4;
    --text-hover: #0f5416;
    --text-light: #0d7911;
    --font-size-h1: 3rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1rem;
    --font-size-h5: 0.8rem;
    --font-size-p: 0.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--background-color);
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-logo img {
    height: 50px;
    width: 50px;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
}

.nav-link_brand {
    text-decoration: none;
    color: var(--text-color);
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 24px;
}

#menu-item_selected {
    color: var(--text-light);
}

.page-title {
    color: var(--text-color);
    text-align: center;
    font-size: var(--font-size-h3);
    margin-top: 15vh;
}

.tenace {
    color: var(--text-light);
}

.footer-section {
    background-color: var(--background-color);
    color: #F2F3F4;
    padding: 16px;
    margin: 16px;
}

.footer-section h3 {
    font-size: var(--font-size-h3);
    margin: 20px 0 10px 0;
}

.footer-section img {
    width: 24px;
    height: 24px;
}

.social-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.contact-container h3 {
    margin: 20px 0 10px 0;
}

.contact-address {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    padding: 24px;
    margin: 16px;
    border-top: 1px solid var(--text-hover);
}

@media screen and (min-width: 800px) {

    .nav-bar a {
    text-decoration: none;
    transition: color 0.2s, border-bottom 0.3s;
    position: relative;
    }

    .nav-link:hover {
        color: #0e9513;
        border-bottom: 2px solid #0e9513;
    }

    .left-nav a {
        text-decoration: none;
        transition: color 0.2s, border-bottom 0.3s;
        position: relative;
    }

    .nav-link_brand:hover {
        color: #0e9513;
        border-bottom: 2px solid #0e9513;
    }

    #menu-item_selected {
        color: var(--text-light);
    }

    .page-title {
        font-size: var(--font-size-h1);
        animation-name: bounceIn;
        animation: bounceIn 2s ease;
    }    
    

    @keyframes bounceIn {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        } 
    }

     .footer-section {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
    }

}